.badge-0 {
  background-color: #FEF2F2;
}
.badge-1 {
  background-color: #FEF9F2;
}
.badge-2 {
  background-color: #FDFEF2;
}
.badge-3 {
  background-color: #F5FEF2;
}
.badge-4 {
  background-color: #F2FAFE;
}
.badge-5 {
  background-color: #F5F2FE;
}

.contenter {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
#data-panel {
  margin: 30px;
}